In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
ds = pd.DataFrame(columns = ['Age', 'Gender', 'Position', 'Leader', 'Wage', 'Contract', 'Starting']).rename_axis('id')

In [14]:
ds

Empty DataFrame
Columns: [Age, Gender, Position, Leader, Wage, Contract, Starting]
Index: []